.centerText {
  text-align: center;
  margin: auto;
}
.pMargin {
  margin: 0px;
  font-size: small;
}

.tableSize {
  width: 100%;
  height: 100%;
}

.divCard {
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 5px;
  margin: 5px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonBig {
  height: 120px;
  width: 50%;
  margin: 2px;
  margin-right: 10px;
}

.displayFlex {
  display: flex;
}

.success {
  background-color: green;
}
.tdWidth {
  width: 40%;
}
